{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Download your file</title>
        <link rel = "stylesheet" href = "{% static 'SortApp/index.css' %}">
        <style>
            .main h1{
                font-style : Bookman old style;
                font-size : 1cm;
            }
            label{
                font-size: 1cm;
            }
        </style>
        
    </head>
    <body>
        <div class="header">
            <h1>ExcelSort</h1>
        </div>
        <div class = "main">
            <br>
            <h1 align="center">Your File Is Ready<br><br><br>Download From Here  >><label><a href = "{{ obj.filepath.url }}">click</a></label></h1>
            <br>            
        </div>
    </body>
</html>