{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sort My File</title>
        <link rel="stylesheet" href= "{% static 'SortApp/index.css' %}">
        <script src = "{% static 'SortApp/jquery-3.3.1.min.js' %}"></script>
        
    </head>
    <body>
        <div class = "header">
            <h1>ExcelSort</h1>
        </div>
        <div class="main">
            <h1 align="center">Only Excel files</h1>
            <form  method="post"  action = "{% url 'validate' %}"
                accept = ".xlsx" enctype="multipart/form-data" id="myform">
                {% csrf_token %}
                <br><br>
                <label for="file">Please select your file</label><br><br>
                <input type="file" id="file" name = 'file' accept = ".xlsx"><br><br><br>
                <label for="sort_style">Select Sort Style</label><br>
                <select name="sort_style">
                    <option value=1>Ascending</option>
                    <option value=2>Descending</option>
                </select><br><br>
                <label for="column_name">Select column name</label><br>
                <input type="text" name="column_name" placeholder="enter valid column name"><br>
                
                <input type="submit" value="Sort Excel">
            </form>
        </div>
    </body>
</html>