*{
    margin:0px;
    padding:0px;
}
.header{
    width:100%;
    display:block;
    background-color:#3B5998;
    box-sizing: border-box;
}
.header h1{
    color:white;
    text-align: center;
    padding-top:1cm;
    padding-bottom:1cm;
    font-family:Bookman old style;
    font-size: 2cm;
}
body{
    background-color : #d9e8f9;
}
.main{
    padding:20px;
    border-radius:10px;
    box-shadow:10px 10px gray;
    display:block;
    width:50%;
    background-color:white;
    box-sizing:border-box;
    margin:2cm auto;
}
form{
    margin-left:3%;
    text-align:center;
}
input[type="file"],select,input[type="text"]{
    margin:10px 30%;
    font-size:20px;
}
input[type="text"]{
    padding:10px;
    border-radius:5px;
}

input[type="submit"]{

    padding:10px;
    font-size:20px;
    background-color:#f7a70a;
    border-radius:5px;
}
label{
    font-size:30px;
}